<title>GitChat</title>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span><strong><h1>GitChat<h1><strong></span>
   
</nav>
<center><h1>GitChat Tour</h1></center>
<center><p>Hello There! This app is made for posting. Since you might not know how to get to the posts. Its fairly simple!</p></center>
<center><p><%= link_to "posts", posts_path, :class => "my-class", :id => "my-id" %></p></center>
<center><p>click the link above to access the posts</p></center>