<title>GitChat</title>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span><strong><h1>GitChat<h1><strong></span>
   
</nav>
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
